@media print
   {
    @page {
        size: A4;
    }
    body {
       font-size: 10pt;
    }


   a[href]:after {
      content: "";
   }

    img.avatar {
        filter: grayscale(1);
        -webkit-filter: greyscale(1);
    }
   .main-wrapper .time {
       float: right;
        color: black !important;
        -webkit-print-color-adjust: exact;
   }
   .sidebar-wrapper {
      position: static;
      float: right;
      width: 40%;
      -webkit-print-color-adjust: exact;
   }
   .fa-stack,
   .remove-container.container-block,
   footer{
      display: none;
   }
   .skillset .level-bar-inner {
      background-color: white !important;
      border: 1px solid black !important;
      -webkit-print-color-adjust: exact;
   }
   .linkedin,
   .stack-overflow {
      display: none;
   }

   .website {
      display: inherit;
   }
}